body {padding: 0; margin: 0;}


.Portada {height:768px; background-color: black; width: 100%;}
.titulo {font-size: 100px; color: white; font-family: 'Chakra Petch', sans-serif; font-weight: bolder;
	margin: 0; padding: 30px ; padding-top: 100px; width: 50%; position: absolute;}
 
.index {width: 300px; font-family: 'Chakra Petch'; font-size: 25px; margin-left: 1070px; padding: 30px; 
	padding-top: 400px; padding-left: 50px; margin-bottom: 0;color: white;}

.Paper {height: 768px; width: 100%; padding: 30px;}

.subti {font-size:70px;font-family: 'Chakra Petch', sans-serif;
width: 600px; font-weight: bolder; position: absolute;}

.fotopaper {height: 300px;
margin-left: 700px;
margin-top: 80px;}

.bio1 {width: 400px; font-family: 'Chakra Petch', sans-serif; font-size: medium; position: absolute;}

.peter {width: 270px; margin-left: 500px; margin-top: 120px;}

.subti2 {font-size: 60px; font-family: 'Chakra Petch', sans-serif; font-weight: bold; 
	position: absolute; margin-top: 510px; margin-left: 420PX;}

.res1 {width: 500px; font-family: 'Chakra Petch', sans-serif; font-size: medium; position: absolute;
margin-left: 850px; margin-top: 130px;}

.breath {height: 100px;}
.breath2 {height: 200px;}

.Proyecto {height: 768px; width: 100%; margin-left: 30px; margin-top: 0;}

.fotoproyec {position: absolute;}

.res2 {width: 300px;font-family: 'Chakra Petch', sans-serif; font-size: medium; margin-left: 350px; position: absolute; margin-top: 0;}

.subti3 {font-size: 70px;font-family: 'Chakra Petch', sans-serif; width: 600px; font-weight: bolder; 
margin-left: 800px; margin-bottom: 0;}

.subti4 {font-size: 60px;font-family: 'Chakra Petch', sans-serif; width: 600px; font-weight: bold; 
margin-left: 1070px; margin-top: 0; margin-bottom: 0;}

.casey {width: 400px; margin-left: 1000px; margin-top: 30px;}

.bio2 {width: 600px; font-family: 'Chakra Petch', sans-serif; font-size: medium; margin-left: 800px; margin-bottom: 0;}

.caja1 {height: 550px; padding-top: 30px; padding-left: 30px;padding-bottom: 0; background-color: black;}

.pre {font-size: 80px; font-family: 'Chakra Petch', sans-serif; font-weight: bold; width: 700px; margin: 0; color: white; padding-left: 100px;}

.intro {font-family: 'Chakra Petch', sans-serif; font-size: medium; width: 400px; margin-left: 500px; padding-top: 50px; color: white; 
	position: absolute;}

.next {font-family: 'Chakra Petch', sans-serif; font-size: small; width: 200px; margin-left: 1150px; padding-top: 50px; color: white;}


.uno {height: 1600px; width: 100%;}
.izq {width: 40%; position: absolute; padding-left: 30px; background-color: yellow; margin: 0px;}
.a {font-family: 'Chakra Petch', sans-serif; font-size: 70px; font-weight: bold; margin-top: 0px; padding-top: 50px;}
.b {font-family: 'Chakra Petch', sans-serif; font-size: large; width: 300px; padding-left: 100px;}

.ejemplos {width:60%; margin-left: 40%; padding: 30px;}
.in {font-family: 'Chakra Petch', sans-serif; font-size: medium; width: 400px; padding-left: 100px; padding-top: 70px;}
.moth {width: 400px; padding-left: 100px;position: absolute;}
.motht {padding-left: 530px;margin-top: 0;}
.titl {font-family: 'Chakra Petch', sans-serif; font-size: 30px; margin-top: 0;}
.descr {font-family: 'Chakra Petch', sans-serif; font-size: medium; width: 200px; padding-top: 215px; }

.beg {font-family: 'Chakra Petch', sans-serif; font-size: medium; width: 400px; padding-left: 100px; 
	padding-top: 70px; position: absolute;}
.kn {margin-left: 100px; margin-top: 150px;}
.titel {font-family: 'Chakra Petch', sans-serif; font-size: 30px; margin-top:50px; margin-left: 500px;}
.knbc {width: 700px;}
.descri {font-family: 'Chakra Petch', sans-serif; font-size: medium; width: 270px; padding-top: 10px; }

.dos {height: 1168px; width: 100%;}
.left {width: 40%; background-color: yellow; height: 1168px; position: absolute;}
.ti {font-family: 'Chakra Petch', sans-serif; font-size: 67px;font-weight: bold; margin-top: 0px; padding-top: 50px; 
	padding-left: 30px; position: absolute;}
.ini {font-family: 'Chakra Petch', sans-serif; font-size: medium; width: 400px; padding-left: 100px; padding-top: 70px;}



.Bottom {width: 100%; height: 150px; background-color: black ; padding: 10px; padding-left: 30px;
font-family: 'Chakra Petch', sans-serif; color: white;}

.info {width: 50%; position: absolute;}

.creditos {width: 325px; text-align: right; margin-left: 1050px;}

