body: {padding: 0;}

.subti {font-size: x-large;
font-family: 'Chakra Petch', sans-serif;}

.Bottom {width: 100%; height: 300px; background-color: grey ; padding: 30px;
font-family: 'Chakra Petch', sans-serif;}
